@model List<Blog>

    @foreach (var item in Model)
    {
         <li style="background-color: whitesmoke; overflow:auto; max-height:max-content" class="d-flex justify-content-start ">
             <img width="160" src="~/img/blog/@item.ImageUrl">
            <br> <a  style="background-color: white; color: black;" asp-controller="blog" asp-action="detail" asp-route-id="@item.Id"> Name: @item.Name.ToUpperInvariant()</a>
            <br> <strong style="background-color: white; color: black;font-weight:bolder">Writer: @item.Writer.FullName</strong>
         </li>
    }